<!DOCTYPE html>
<html>
<head lang="en">
    <title>Matchine Learning</title>
    <meta charset="UTF-8">
    <link href="https://necolas.github.io/normalize.css/3.0.2/normalize.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css"/>
    <link rel="icon" href="/static/img/icon.png"/>
</head>
<body>
<div class="wrapper">
    <header>
        <div class="header-text">
            P’polom is a solution model to find the best conditions to import products into México
        </div>
    </header>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <footer>
        2015 | RS
    </footer>
</div>
<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>


</body>
</html>